<h3>Company Details</h3>
<br />
<div class="mb-3 row">
  <label for="company_name" class="col-sm-2 col-form-label">Company Name</label>
  <div class="col-sm-10">
    <input
      type="text"
      class="form-control"
      name="company_name"
      id="company_name"
    />
  </div>
</div>
<div class="mb-3 row">
  <label for="address" class="col-sm-2 col-form-label">Address</label>
  <div class="col-sm-5">
    <input
      type="text"
      class="form-control"
      name="address"
      id="address"
      maxlength="60"
    />
  </div>
  <div class="col-sm-5">
    <input
      type="text"
      class="form-control"
      name="addressLine"
      id="addressLine"
      maxlength="60"
    />
  </div>
</div>
<!-- <div class="mb-3 row">
  <label for="address" class="col-sm-2 col-form-label"></label>
  <div class="col-sm-5">
    <input
      type="text"
      class="form-control"
      name="addressLine2"
      id="addressLine2"
      maxlength="40"
    />
  </div>
</div> -->
<div class="mb-3 row">
  <label for="tel" class="col-sm-2 col-form-label">Tel.</label>
  <div class="col-sm-4">
    <input
      type="text"
      class="form-control"
      name="tel"
      id="tel"
      maxlength="15"
    />
  </div>

  <label for="email" class="col-sm-2 col-form-label">Email Id</label>
  <div class="col-sm-4">
    <input type="email" class="form-control" name="email" id="email" maxlength="36" />
  </div>
</div>

<hr />
<h4>
  Note:
  <span class="note-info"
    >If you want to Download batch-label pdf then you want to click Generate Qr
    Code and press <b>Alt + p</b>, We ass download feature as soon as
    possible.</span
  >
</h4>
