<footer>
  <p>
    All rights reserved to
    <a
      class="text-success"
      href="http://techcreaturesolution.com/"
      target="_blank"
      >Tech Creature Solution</a
    >
  </p>
</footer>
