<nav class="col-12 nav-temp text-center navbar-dark bg-success">
  <span class="nav-title">QR Code Generator</span>
</nav>
<ul>
  <li><a href="/">Multiple Qr Generator</a></li>
  <li><a href="/single-qr">Single Qr Generator</a></li>
</ul>
